*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    height: 85vh;
    width: 100vw;
    background: linear-gradient(to bottom, #ffc107, #fff);
}
.nav{
    height: 8vh;
    width: 70vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:#25292e;
    transform: skew(20deg);
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;

}
.anc{
    height: 8vh;
    width: 60vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transform: skew(-20deg);
    text-wrap: wrap;

}
.nav a{
    text-decoration: none;
    color:#f1f1f1;
    font-size: 16px;
   
}

@media (max-width:900px){
    .nav{
        display: none;
    }
}
.imge{
    height: 60px;
    width: 180px;
    margin-top: 20px;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2vw;

}
.imge img{
    height: 80%;
    width: 80%;
    object-fit: cover;
}
.nn{
    height: 10vh;
    width: 90vw;
    margin-top: 8px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
}
.nn1{
    height: 10vh;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.nn2{
    height: 10vh;
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.btn{
    height: 8vh;
    width: 4vw;
    background-color: transparent;
    margin-top: 5px;
    border: 2px solid transparent;

}
.btn i{
    font-size: 2.8rem;
    font-weight: 700;
}
select{
    height: 6vh;
    width: 10vw;
    background-color:#25292e;
    color:#fff;
    font-size: 1rem;
    border-radius: 4px;
}
@media (max-width:1000px){
    select{
        display: none;
    }
   
}
input{
    height: 5.5vh;
    width: 30vw;
    font-size: 1rem;
    font-weight: 200;
}
.btn2{
    height: 5.1vh;
    width: 2vw;
    background-color:  #f26522;
    border-radius: 2px;
    border: 2px solid #f26522;;
}

.btn2 i{
    color: #f1f1f1;
}
.select{
    background-color: white;
    color: black;
}
.cart{
    height: 5vh;
    width: 10vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}
.cart i p{
    font-size: 0.8rem;
    color: white;
}
@media (max-width:1200px){
    .cart{
        width: 20vw;
    }
}
@media (max-width:500px){
    input{
       height: 4vh;
       width: 35vw;
    }
   .btn i{
    font-size: 2.2rem;
   }
   .btn2 {
    height: 3.8vh;
    width: 6vw;
   }
}@media (max-width:600px){
    input{
       height: 4vh;
       width: 35vw;
    }
   .btn i{
    font-size: 2.2rem;
   }
   .btn2 {
    height: 3.8vh;
    width: 6vw;
   }
}
.img{
    height: 50vh;
    position: relative;
    width: 100%;
    overflow: hidden;
}
.imgc{
    height: 46vh;
    width: 80vw;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
   
    gap:1vw;
    display: none;
    flex-direction: column;
   

}
.prev {
    left: 10px;
    height: 5vh;
    width: 4vw;
    border-radius: 60px;
    font-weight: 700;
    
    
}

.next {
    right: 10px;
    height: 5vh;
    width: 4vw;
    border-radius: 60px;
    font-weight: 700;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
        background-color: rgba(255, 255, 255, 0.8);

    border: none;
    font-size: 24px;
    cursor: pointer;
  
}
.imgc.active {
    display: block;
}
.imgc h1{
    font-size: 5vw;
    font-weight: 700;
    color: rgb(206, 124, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: color 5s ease-in 0s infinite;
}
@keyframes color{
    from{
        color: rgb(206, 124, 0);

   }
   to{
   color: white;
}
}
@media (max-width:1000px){
    .imgc h1{
        margin-top: 40px;
    }
}
.click{
    height: 6vh;
    width: 12vw;
    background-color: #25292e;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.2vw;
    border-radius: 10px;
    margin-top: 3vh;
    margin-left: 32vw;
}
@media (max-width:800px){
    .img{
        height: 40vh;
    }
    .imgc{
        height: 35vh
    }
    .click{
        width: 12vw;
    }
   
  
}
@media (max-width:400px){
    .click{
        width: 12vw;
    }
    
}
@media (max-width:720px){
    .btn2{
        width: 6vw;
    }
}
@media (max-width:900px){
    .btn2{
        width: 6vw;
    }
}
.elec{  
height: 100vh;
width: 99vw;
background-color: white;
border-top:2px solid gainsboro ;
}
.head{
    height: 10vh;
    width: 50vw;
    margin-top: 1vw;
    margin-right: auto;
    margin-left: auto;
    
}
.head h1{
    font-size: 3.2vw;
    font-weight: 1000;
    letter-spacing: 2px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.card{
    height: 80vh;
    width: 98vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.c1{
    height: 65vh;
    width: 22%;
    border: 2px solid transparent;
    box-shadow:10px 10px 20px 20px #f0da98;
    border-radius: 0.5vw;
     
}

.c2{
    height: 65vh;
    width: 22%;
    border: 2px solid transparent;
    box-shadow:10px 10px 20px 20px #f0da98;
    border-radius: 0.5vw;


}
.c3{
    height: 65vh;
    width: 22%;
    border: 2px solid transparent;
    box-shadow:10px 10px 20px 20px #f0da98;
    border-radius: 0.5vw;


}
.text{
    height: 16vh;
    width: 21vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.he1{
font-size: 1.5vw;
font-weight: 700;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.he2{
margin-top: 1vw;
font-size: 1,2vw;
}
span{
    color: #f26522;
}
.ccc{
    height: 35vh;
    width: 21vw;
    margin-top: 2vw;
}
.ccc img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.foot{
    height: 10vh;
    width: 21vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.foot button{
    height: 8vh;
    width: 5vw;
    font-size:1vw;
    font-weight: 700;
    color: #f26522;
    background-color: transparent;
    border: 2px solid transparent;
}
.foot a{
    font-size: 1vw;
    font-weight: 700;
    text-decoration: none;
    color: #25292e;
}
@media (max-width:800px){
    .c1{
        height: 60vh;
        width: 28vw;
    }
    .c2{
        height: 60vh;
        width: 28vw;
    }
    .c3{
        height: 60vh;
        width: 28vw;
    }
}
@media (max-width:700px){
    .card{
        height: 200vh;
    }
    .c1{
       width: 80vw;
       margin-bottom: 40px;
    }
    .foot{
        height: 6vh;
        width: 40vw;
        margin-left: 20vw;

    }
  
   .foot button{
    width: 20vw;
    font-size: 2vw;
   }
   .foot a{
    font-size: 2vw;
   }
   .ccc{
    width: 55vw;
    margin-left: 10vw;
   }
   .text{
    width: 60vw;
    margin-left: 14vw;
   }
  
    .c2{
        width: 80vw;
        margin-bottom: 40px;

     }
     .c3{
        width: 80vw;
        margin-bottom: 40px;

     }
}
footer{
    height: 60vh;
    width: 99vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #212529;
    gap: 2vh;
}
.fimg{
    height: 10vh;
    width: 10vw;
   
}
footer h1{
    font-size: 3vw;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.3vw;
    color: white;
}
.fff{
    height: 10vh;
    width: 50vw;
    border-bottom: 2px solid white;
    display: flex;
    justify-content: center;
   align-items: center;
}
.fff input{
    width:45vw;
    font-weight: 700;
    font-size: 1vw;
    letter-spacing: 0.2vw;
    border: 2px solid transparent;
    background-color: #212529;
    color: white;
}

.fff button{
    height: 05vh;
    width:10vw;
    font-weight: 700;
    color: #f26522;
    background-color: transparent;
    border: 2px solid transparent;
    
}
.ff{
    height: 10vh;
    width: 50vw;
    display: flex;
    justify-content: space-evenly;
   align-items: center;
}
.ff a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    transition: 1s;
}
.ff a:hover{
    color: #f26522;
}
.hh2{
    font-size: 1.1vw;
    color: white;
}
.hhh{
    font-size: 1vw;
    font-weight: 700;
    margin-top: 5vh;
    color: white;
}
@media (max-width:900px){
    .fff{
        width: 80vw;
    }
    .ff{
        width: 80vw;
    }
    .hh2{
        font-size: 2vw;
        margin-top: 2vh;
    }
    .hhh{
        font-size: 1.5vw;
    }
}
@media (max-width:1200px){
    .fff{
        width: 70vw;
    }
    .ff{
        width:70vw;
    }
    .hh2{
        font-size: 2vw;
        margin-top: 2vh;
    }
    .hhh{
        font-size: 1.5vw;
    }
}
@media (max-width:600px){
    .main{
        height: 60vh;
        margin-top: -1.5vh;
    }
    .cart{
        margin-right: 100px;
    }
    .click{
        height: 5vh;
        width: 20vw;
        font-size: 2vw;
    }
    footer{
        margin-top: 110vh;
    }
    .ff{
        height: 20vh;
       margin-top: 2vh;
        flex-direction: column;
    }
    .fff input{
        font-size: 2vw;
    }
}
